.venv/
__pycache__/
*.egg-info/
.build/
build/
data/
models/
.DS_Store
.venv.nosync/
models.nosync/
.venv
models
*.sqlite
*.sqlite-wal
*.sqlite-shm

benchmarks/private/
benchmarks/results-local/
benchmarks/results-*/**/stdout.log
